<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Elephant.Hank.WindowsApplication.Framework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Elephant.Hank.WindowsApplication.Framework.Properties.Settings>
            <setting name="ExecutionTimeLapseInMilli" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="BaseApiUrl" serializeAs="String">
                <value>http://localhost:90/</value>
            </setting>
            <setting name="FrameworkBasePath" serializeAs="String">
                <value>E:\ProtractorCloneDevNewAPI\ProtractorAutomation</value>
            </setting>
            <setting name="BaseWebUrl" serializeAs="String">
                <value>http://localhost:91/</value>
            </setting>
            <setting name="FaultedEmailId" serializeAs="String">
                <value>gurpreet.singh@inspopindia.com</value>
            </setting>
            <setting name="ClearLogHours" serializeAs="String">
                <value>168</value>
            </setting>
            <setting name="ClearReportHours" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="CleanerRunAtHour" serializeAs="String">
                <value>24</value>
            </setting>
        </Elephant.Hank.WindowsApplication.Framework.Properties.Settings>
    </userSettings>
</configuration>