<section class="content-header">
  <div class="row">
    <!-- left column -->
    <div class=" col-md-8 col-md-offset-2">
      <h1>
        Create Data Base Category for - {{Website.Name}}
        <small></small>
      </h1>
    </div>
  </div>
</section>


<section class="content" ng-init="onDataBaseCategoriesUpdatePageLoad()" >
  <div class="row">
    <!-- left column -->
    <div class=" col-md-8 col-md-offset-2">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" name="DataBaseCategoriesForm" ng-submit="DataBaseCategoriesForm.$valid && onDataBaseCategoriesUpdatePageSubmit()">
          <div class="box-body">

            <div class="form-group">
              <label class="col-sm-2 control-label">Data Base Category Name</label>

              <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Data Base Category Name" name="DataBaseCategoryName"
                       ng-model="DataBaseCategory.Name" required="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Description</label>

              <div class="col-sm-6">
                <textarea type="text" name="DataBaseCategoryDescription" class="form-control" placeholder="Description" name="Description"
                          ng-model="DataBaseCategory.Description" required=""></textarea>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-1">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>

