<div class="tab-pane active">
  <form class="form-horizontal" name="GroupWebsiteModuleForm"
        ng-submit="GroupWebsiteModuleForm.$valid && onGroupWebsiteModuleSubmit()">
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th>Sr. No.</th>
        <th>Module name</th>
        <th>Can Read</th>
        <th>Can Write</th>
        <th>Can Delete</th>
        <th>Can Execute</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="groupModuleAccess in GroupModuleAccessList | orderBy:'Id'">
        <td>{{$index + 1}}</td>
        <td>
          {{groupModuleAccess.ModuleName}}
        </td>
        <td>
          <input type="checkbox" ng-model="groupModuleAccess.CanRead" disabled="disabled"/>
        </td>
        <td>
          <input type="checkbox" ng-model="groupModuleAccess.CanWrite"/>
        </td>
        <td>
          <input type="checkbox" ng-model="groupModuleAccess.CanDelete"/>
        </td>

        <td>
          <input ng-if="groupModuleAccess.IsModuleExecutable" type="checkbox"
                 ng-model="groupModuleAccess.CanExecute"/>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="form-group">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
