<section class="content-header">
  <div class="row">
    <!-- left column -->
    <div class=" col-md-12">
      <h1 ng-if="!stateParamTestDataId"> Add Test Data for
        <small> {{Website.Name}} - {{Test.TestName}}</small>
      </h1>
      <h1 ng-if="stateParamTestDataId"> Update Test Data for
        <small> {{Website.Name}} - {{Test.TestName}}</small>
      </h1>
    </div>
  </div>
</section>


<section class="content" ng-init="stateParamTestDataId ? onLoadEdit(): onLoadAdd()">
  <div class="row">
    <!-- left column -->
    <div class=" col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" name="TestDataForm" ng-submit="TestDataForm.$valid && addUpdateTestData()">
          <div class="box-body">

            <div class="form-group">
              <label class="col-sm-2 control-label">Execution Sequence </label>

              <div class="col-sm-4">
                <input type="number" class="form-control" ng-model="TestData.ExecutionSequence" name="ExecutionSequence"
                       placeholder="Execution Sequence" required>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Step Type</label>

              <div class="col-sm-4">
                <select class="form-control" ng-model="TestData.LinkTestType" ng-if="!stateParamTestDataId"
                        ng-options="stepType.Id as stepType.Type for stepType in StepTypes | orderBy:'Type'"
                        ng-change="onStepTypeChange()" name="StepType" required>
                  <option style="display:none" value="">--Select--</option>
                </select>

                <select class="form-control" ng-model="TestData.LinkTestType" ng-if="stateParamTestDataId"
                        ng-options="stepType.Id as stepType.Type for stepType in StepTypes | orderBy:'Type'"
                        name="StepType" required disabled="disabled">
                  <option style="display:none" value="">--Select--</option>
                </select>
              </div>
            </div>

            <section name="TestStep" ng-if="TestData.LinkTestType==0">

              <div class="form-group" ng-if="InputControlDisplayStatus.ddlAction">
                <label class="col-sm-2 control-label">Action </label>

                <div class="col-sm-4">
                  <select ng-if="!stateParamTestDataId" class="form-control" ng-model="TestData.ActionId"
                          name="ActionId"
                          ng-options="action.Id as action.Value for action in ActionList | orderBy:'Value'"
                          ng-change="onActionChange()" required>
                    <option style="display:none" value="">--Select--</option>
                  </select>

                  <select ng-if="stateParamTestDataId" class="form-control" ng-model="TestData.ActionId" name="ActionId"
                          ng-options="action.Id as action.Value for action in ActionList | orderBy:'Value'"
                          required ng-change="onActionChange()">
                    <option style="display:none" value="">--Select--</option>
                  </select>
                </div>
              </div>

              <!-- #start Load Report Data  -->

              <div class="form-group" ng-if="TestData.ActionId==ActionConstants.LoadReportDataActionId || TestData.ActionId==ActionConstants.MarkLoadDataFromReportActionId">
                <label class="col-sm-2 control-label">Website</label>

                <div class="col-sm-4">
                  <select class="form-control" ng-model="TestData.SharedStepWebsiteId"
                          ng-options="website.Id as website.Name for website in WebsiteList | orderBy:'Name'"
                          ng-change="onWebsiteChange()" name="SharedStepWebsiteId" required="Please select website">
                    <option style="display:none" value="">--Select--</option>
                  </select>
                </div>
              </div>

              <div class="form-group"
                   ng-if="(TestData.ActionId==ActionConstants.LoadReportDataActionId || TestData.ActionId==ActionConstants.MarkLoadDataFromReportActionId) && !!TestData.SharedStepWebsiteId">
                <label class="col-sm-2 control-label">Test Category</label>

                <div class="col-sm-4">
                  <select class="form-control" ng-model="TestData.SharedStepWebsiteTestCategoryId"
                          ng-options="testCat.Id as testCat.Name for testCat in TestCategoryList | orderBy:'Name'"
                          ng-change="onTestCategoryChange()" name="SharedStepWebsiteTestCategoryId"
                          required="Please select test category">
                    <option style="display:none" value="">--Select--</option>
                  </select>
                </div>
              </div>

              <div class="form-group"
                   ng-if="(TestData.ActionId==ActionConstants.LoadReportDataActionId || TestData.ActionId==ActionConstants.MarkLoadDataFromReportActionId) && !!TestData.SharedStepWebsiteId && !!TestData.SharedStepWebsiteTestCategoryId">
                <label class="col-sm-2 control-label">Test</label>

                <div class="col-sm-4">
                  <select class="form-control" ng-model="TestData.SharedStepWebsiteTestId"
                          ng-options="test.Id as test.TestName for test in TestList | orderBy:'TestName'"
                          name="SharedStepWebsiteTestId" required="Please select test">
                    <option style="display:none" value="">--Select--</option>
                  </select>
                </div>
              </div>

              <div class="form-group"
                   ng-show="(TestData.ActionId==ActionConstants.LoadReportDataActionId) && !!TestData.SharedStepWebsiteTestId">
                <label class="col-sm-2 control-label">Day till past by date?</label>

                <div class="col-sm-4">
                  <input type="checkbox" ng-click="onDayTillPastByDateCbxClick()"
                         ng-model="TestData.DayTillPastByDateCbx">
                </div>
              </div>


              <div class="form-group"
                   ng-if="(TestData.ActionId==ActionConstants.LoadReportDataActionId) && !!TestData.SharedStepWebsiteTestId">
                <label class="col-sm-2 control-label">Day till past</label>

                <div class="col-sm-4" ng-if="!TestData.DayTillPastByDateCbx">
                  <input type="number" class="form-control" placeholder="Day till past" name="DayTillPast"
                         ng-model="TestData.DayTillPast" ng-pattern=" /^\d+$/" required>
                  <div class="error" style="color:red" ng-show="TestDataForm.DayTillPast.$error.pattern">Day till past should be positive number.</div>
                </div>

                <div class="input-group date form_datetime col-sm-4" data-link-field="dtp_input1"
                     ng-if="TestData.DayTillPastByDateCbx">
                  <input class="form-control" data-date-format="MM-dd-yyyy" size="16" type="text" value=""
                         ng-model="TestData.DayTillPastByDate"
                         readonly
                         name="DayTillPastByDate" required>
                  <span class="input-group-addon" onclick="enableDateTimePicker()"><span
                    class="glyphicon glyphicon-th"></span></span>
                </div>
                <input type="hidden" id="dtp_input1" value=""/><br/>
              </div>



              <!-- #end  Load Report Data  -->

              <div class="form-group" ng-if="InputControlDisplayStatus.ddlPageNonValidation">
                <label class="col-sm-2 control-label">Page</label>

                <div class="col-sm-4">
                  <select class="form-control" ng-model="TestData.PageId"
                          ng-options="page.Id as page.Value for page in PagesList | orderBy:'Value'"
                          name="PageId" ng-change="onPageChange()">
                    <option style="display:none" value="">--Select--</option>
                  </select>
                </div>
              </div>

              <div class="form-group" ng-if="InputControlDisplayStatus.ddlPage">
                <label class="col-sm-2 control-label">Page</label>

                <div class="col-sm-4">
                  <select class="form-control" ng-model="TestData.PageId"
                          ng-options="page.Id as page.Value for page in PagesList | orderBy:'Value'"
                          name="PageId" ng-change="onPageChange()" required>
                    <option style="display:none" value="">--Select--</option>
                  </select>
                </div>
              </div>

              <div class="form-group" ng-if="InputControlDisplayStatus.ddlDisplayName">
                <label class="col-sm-2 control-label">Display Name</label>

                <div class="col-sm-4">
                  <select class="form-control" ng-model="TestData.LocatorIdentifierId"
                          ng-options="displayName.Id as displayName.DisplayName for displayName in DisplayNameList | orderBy:'DisplayName'"
                          name="LocatorIdentifierId" required>
                    <option style="display:none" value="">--Select--</option>
                  </select>
                </div>
              </div>

              <div class="form-group"
                   ng-if="InputControlDisplayStatus.chkAssignVariableValue">
                <label class="col-sm-2 control-label">Assign Variable Value</label>

                <div class="col-sm-4">
                  <input type="checkbox" ng-click="onAssignVariableClick()" ng-model="TestData.IsAssignVariableName"/>
                </div>
              </div>

              <div class="form-group"
                   ng-if="InputControlDisplayStatus.txtValue">
                <label class="col-sm-2 control-label">Value</label>

                <div class="col-sm-4">
                  <input type="text" class="form-control" placeholder="Value" name="Value" ng-model="TestData.Value">
                </div>
              </div>

              <div class="form-group"
                   ng-if="InputControlDisplayStatus.txtAutoCompVariableName">
                <label class="col-sm-2 control-label">Variable Name</label>

                <div class="col-sm-4">
                  <input type="text" autocomplete="off" class="form-control" placeholder="Variable Name"
                         name="VariableName"
                         typeahead="variable for variable in VariableList | filter:$viewValue | limitTo:8"
                         ng-model="TestData.VariableName" required="">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>

                <div class="col-sm-4">
                  <textarea type="text" class="form-control ng-pristine ng-valid ng-touched"
                            ng-model="TestData.Description"
                            name="Description" placeholder="Description"></textarea>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>

            </section>

            <section name="SharedTestStep" ng-if="TestData.LinkTestType==1">

              <div class="form-group">
                <label class="col-sm-2 control-label">Shared Test List</label>

                <div class="col-sm-4">
                  <select class="form-control" ng-model="TestData.SharedTestId"
                          ng-options="sharedTest.Id as sharedTest.TestName for sharedTest in SharedTestList | orderBy:'TestName'"
                          ng-change="onSharedTestListChange()" name="SharedTestId">
                    <option style="display:none" value="">--Select--</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>

                <div class="col-sm-4">
                  <textarea type="text" class="form-control ng-pristine ng-valid ng-touched"
                            ng-model="TestData.Description"
                            name="Description" placeholder="Description"></textarea>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>

              <table class="table table-bordered table-striped" ng-if="TestData.SharedTestDataList.length>0">
                <thead>
                <tr>
                  <th>Default Sequence</th>
                  <th>Sequence</th>
                  <th class="col-md-2">Display Name</th>
                  <th class="col-md-2">Action</th>
                  <th class="col-md-1" style="text-align: center;">Default Skip</th>
                  <th class="col-md-1" style="text-align: center;">Skip</th>
                  <th class="col-md-2">Default Variable</th>
                  <th class="col-md-2">Variable</th>
                  <th class="col-md-2">Default Value</th>
                  <th class="col-md-2">Value</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="testData in TestData.SharedTestDataList | orderBy:'ExecutionSequence'"
                    ng-class="testData.Ignore ? 'alert-danger' : ''">
                  <td>{{testData.ExecutionSequence}}</td>
                  <td><input type="text" style="width: 100%" ng-model="testData.UIExecutionSequence"></td>
                  <td>{{testData.DisplayNameValue}}</td>
                  <td>{{testData.ActionValue}}</td>
                  <td align="center"><input type="checkbox" disabled ng-model="testData.IsIgnored"></td>
                  <td align="center"><input type="checkbox" ng-model="testData.Ignore"></td>
                  <td>{{testData.VariableName}}</td>
                  <td><input type="text" ng-model="testData.UIVariableName"></td>
                  <td>{{testData.Value}}</td>
                  <td><input type="text" ng-model="testData.UIValue"></td>
                </tr>
                </tbody>
              </table>


            </section>

            <section name="WebsiteTestStep" ng-if="TestData.LinkTestType==2">

              <div class="form-group">
                <label class="col-sm-2 control-label">Website</label>

                <div class="col-sm-4">
                  <select class="form-control" ng-model="TestData.SharedStepWebsiteId"
                          ng-options="website.Id as website.Name for website in WebsiteList | orderBy:'Name'"
                          ng-change="onWebsiteChange()" name="SharedStepWebsiteId" required="Please select website">
                    <option style="display:none" value="">--Select--</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Test</label>

                <div class="col-sm-4">
                  <select class="form-control" ng-model="TestData.SharedStepWebsiteTestId"
                          ng-options="test.Id as test.TestName for test in TestList | orderBy:'TestName'"
                          ng-change="onWebsiteChange()" name="SharedStepWebsiteTestId" required="Please select test">
                    <option style="display:none" value="">--Select--</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>

                <div class="col-sm-4">
                  <textarea type="text" class="form-control ng-pristine ng-valid ng-touched"
                            ng-model="TestData.Description"
                            name="Description" placeholder="Description"></textarea>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>

            </section>

            <section name="SqlTestStep" ng-if="TestData.LinkTestType==3">

              <div class="form-group">
                <label class="col-sm-2 control-label">Data Base Category </label>

                <div class="col-sm-4">
                  <select class="form-control" ng-model="TestData.DataBaseCategoryId" name="DataBaseCategoryId"
                          ng-options="databaseCategory.Id as databaseCategory.Name for databaseCategory in DataBaseCategories | orderBy:'Name'"
                          required>
                    <option style="display:none" value="">--Select--</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">SQL Action </label>

                <div class="col-sm-4">
                  <select class="form-control" ng-model="TestData.ActionId" name="ActionId"
                          ng-options="action.Id as action.Value for action in ActionList | orderBy:'Value'" required>
                    <option style="display:none" value="">--Select--</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">SQL Query</label>

                <div class="col-sm-4">
                  <textarea type="text" class="form-control" placeholder="Sql Query" name="Value"
                            ng-model="TestData.Value"></textarea>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Variable Name</label>

                <div class="col-sm-4">
                  <input type="text" autocomplete="off" class="form-control" placeholder="Variable Name"
                         name="VariableName"
                         typeahead="variable for variable in VariableList | filter:$viewValue | limitTo:8"
                         ng-model="TestData.VariableName" required="">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>

                <div class="col-sm-4">
                  <textarea type="text" class="form-control ng-pristine ng-valid ng-touched"
                            ng-model="TestData.Description"
                            name="Description" placeholder="Description"></textarea>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>

            </section>

            <section name="ApiTestStep" ng-if="TestData.LinkTestType==4">

              <div class="form-group">
                <label class="col-sm-2 control-label">Api Category </label>

                <div class="col-sm-4">
                  <select class="form-control" ng-model="TestData.ApiTestData.ApiCategoryId" name="ApiCategoryId"
                          ng-options="apiCategory.Id as apiCategory.Name for apiCategory in ApiCategories | orderBy:'Name'"
                          required>
                    <option style="display:none" value="">--Select--</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Request Type </label>

                <div class="col-sm-4">
                  <select ng-change="onRequestTypeChange()" class="form-control"
                          ng-model="TestData.ApiTestData.RequestTypeId" name="RequestTypeId"
                          ng-options="requestType.Id as requestType.Name for requestType in RequestTypeList | orderBy:'Name'"
                          required>
                    <option style="display:none" value="">--Select--</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">End Point</label>

                <div class="col-sm-4">
                  <input type="text" class="form-control" placeholder="End Point"
                         ng-model="TestData.ApiTestData.EndPoint">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Api Url</label>

                <div class="col-sm-4">
                  <input type="text" class="form-control" placeholder="Api Url" ng-model="TestData.ApiTestData.ApiUrl">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Header(s)</label>

                <div class="col-sm-8" style="padding-left: 0px;">
                  <div class="col-sm-12" style="padding-left: 0px;margin-bottom: 10px"
                       ng-repeat="header in TestData.ApiTestData.Headers">
                    <div class="col-sm-3">
                      <input type="text" class="form-control" placeholder="Name" name="HeaderName"
                             ng-model="header.Name" required="">
                    </div>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" placeholder="Value" name="HeaderValue"
                             ng-model="header.Value">
                    </div>
                    <div class="col-sm-1 text-right" style="margin-top: 2px">
                      <button type="button" class="btn btn-danger fa fa-minus" title="Remove"
                              ng-click="removeHeader($index,1)"></button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label"></label>

                <div class="col-sm-10 text-left">
                  <button type="button" class="btn btn-success fa fa-plus" title="Add header"
                          ng-click="addBlankHeader(1)"></button>
                </div>
              </div>


              <div class="form-group">
                <label class="col-sm-2 control-label">Ignore Header(s)</label>

                <div class="col-sm-8" style="padding-left: 0px;">
                  <div class="col-sm-12" style="padding-left: 0px;margin-bottom: 10px"
                       ng-repeat="ignoreheader in TestData.ApiTestData.IgnoreHeaders">
                    <div class="col-sm-3">
                      <input type="text" class="form-control" placeholder="Name" name="HeaderName"
                             ng-model="ignoreheader.Name" required="">
                    </div>
                    <div class="col-sm-1 text-right" style="margin-top: 2px">
                      <button type="button" class="btn btn-danger fa fa-minus" title="Remove"
                              ng-click="removeHeader($index,2)"></button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label"></label>

                <div class="col-sm-10 text-left">
                  <button type="button" class="btn btn-success fa fa-plus" title="Add header"
                          ng-click="addBlankHeader(2)"></button>
                </div>
              </div>


              <div class="form-group">
                <label class="col-sm-2 control-label">Variable Name</label>

                <div class="col-sm-4">
                  <input type="text" autocomplete="off" class="form-control" placeholder="Variable Name"
                         name="VariableName"
                         typeahead="variable for variable in VariableList | filter:$viewValue | limitTo:8"
                         ng-model="TestData.VariableName" required="">
                </div>
              </div>

              <div class="form-group" ng-if="IsRequestBodyAllowed">
                <label class="col-sm-2 control-label">Request Body</label>

                <div class="col-sm-4">
                  <textarea type="text" class="form-control ng-pristine ng-valid ng-touched"
                            ng-model="TestData.ApiTestData.RequestBody"
                            name="RequestBody" placeholder="Request Body"></textarea>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>

                <div class="col-sm-4">
                  <textarea type="text" class="form-control ng-pristine ng-valid ng-touched"
                            ng-model="TestData.Description"
                            name="Description" placeholder="Description"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </section>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  enableDateTimePicker = function () {
    $('.form_datetime').datetimepicker({
      endDate: '+0d',
      format: 'mm-dd-yyyy',
      weekStart: 1,
      todayBtn: 1,
      autoclose: 1,
      todayHighlight: 1,
      startView: 2,
      minView: 2,
      forceParse: 0
    });
  }
</script>
