<section class="content-header">
  <div class="row">
    <!-- left column -->
    <div class=" col-md-12 ">
      <h1>Suites<small></small><a ui-sref="Website.SuiteAdd({ WebsiteId: stateParamWebsiteId })"  class=" btn btn-primary" style="float:right;cursor: pointer">Add New Suite</a></h1>
    </div>
  </div>
</section>

<section class="content">

  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"></h3>

        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover table-bordered">
            <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th></th>
            </tr>
            </thead>
            <tbody ng-init="getAllSuites()">
            <tr ng-repeat="suite in SuiteList | orderBy:'Id'">
              <td>{{suite.Id}}</td>
              <td>{{suite.Name}}</td>
              <td>
                <a ui-sref="Website.SuiteUpdate({ WebsiteId: stateParamWebsiteId, SuiteId: suite.Id })">Edit</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>

</section>


