<section class="content-header">
  <div class="row">
    <!-- left column -->
    <div class=" col-md-8 col-md-offset-2">
      <h1>Edit Suite
        <small></small>
      </h1>
    </div>
  </div>
</section>

<section class="content" ng-init="getSuiteById()">
  <div class="row">
    <!-- left column -->
    <div class=" col-md-8 col-md-offset-2">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>
        </div>
        <!-- /.box-header -->
        <!-- form start --><div class="col-md-12 text-center text-info"><label class="bg-success">{{message}}</label>
      </div>
      <form class="form-horizontal" name="SuiteForm" ng-submit="SuiteForm.$valid && updateSuite()">
        <div class="box-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">Suite Id</label>
            <div class="col-sm-4" style="padding-top: 7px;">{{::Suite.Id}}</div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Website</label>
            <div class="col-sm-4" style="padding-top: 7px;">{{::Suite.Website.Name}}</div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Suite Name</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" ng-model="Suite.Name" name="Value" placeholder="Name" required>
              <span ng-show="SuiteForm.Name.$touched || SuiteForm.$submitted">
                <small class="help-block" ng-show="SuiteForm.Name.$error.required" style="color:red">Please enter value.</small>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Test Category</label>
            <div class="col-sm-4">
              <select class="form-control" ng-model="Suite.TestCatId" ng-change="onTestCategoryChange()"
                      ng-options="testCat.Id as testCat.Name for testCat in TestCatList | orderBy:'Id'">
                <option style="display:none" value="">--All--</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
      <div class="form-group">
        <div class="row" >
          <div class="col-md-12">
            <div class="col-md-5">
              <strong>All</strong>
              <table class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th> <input ng-change="markUnMarkAll()" type="checkbox" ng-model="markUnMark" /></th>
                  <th>Id</th>
                  <th>Test Name</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="test in TestList | orderBy:'Id'">
                  <td><input type="checkbox" ng-model="test.Checked" ng-change="addRemoveTest(test,ShiftDirection.NotAddedToToBeAdded)" />  </td>
                  <td ng-click="addRemoveTest(test,true)">{{::test.Id}}</td>
                  <td><a ui-sref="Website.TestData({WebsiteId: Website.Id, TestCatId: test.CategoryId + 0, TestId: test.Id })" target="_blank">{{::test.TestName}}</a></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-5">
              <strong>Added</strong>
              <table class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th><!-- <input ng-click="markUnMarkAll()" type="checkbox" ng-model="Mark" />--></th>
                  <th>Id</th>
                  <th>Test Name</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="test in TestListAdded | orderBy:'Id'">
                  <td><input type="checkbox" ng-model="test.Checked" ng-change="addRemoveTest(test,ShiftDirection.ToBeAddedToNotAdded)" />  </td>
                  <td>{{::test.Id}} </td>
                  <td><a ui-sref="Website.TestData({WebsiteId: Website.Id, TestCatId: test.CategoryId + 0, TestId: test.Id })" target="_blank">{{::test.TestName}}</a></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
   </div>

  </div>
</section>
