<section class="content-header">
  <div class="row">
    <!-- left column -->
    <div class=" col-md-8 col-md-offset-2">
      <h1>
        Create New Ticket
        <small></small>
      </h1>
    </div>
  </div>
</section>


<section class="content" ng-init="onLoadAdd()">
  <div class="row">
    <!-- left column -->
    <div class=" col-md-8 col-md-offset-2">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" name="TicketForm" ng-submit="TicketForm.$valid && addTicket()">
          <div class="box-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">Title</label>

            <div class="col-sm-4">
              <input type="text" class="form-control" ng-model="Ticket.Title" name="Title" placeholder="Title"
                     required>
       <span ng-show="TicketForm.Title.$touched || TicketForm.$submitted">
        <small class="help-block" ng-show="TicketForm.Title.$error.required" style="color:red">Please enter Title.
        </small>
        </span>
            </div>
          </div>


           <div class="form-group">
            <label class="col-sm-2 control-label">Description</label>

            <div class="col-sm-4">
              <textarea type="text" class="form-control" ng-model="Ticket.Description" name="Description" placeholder="Description"
                     required></textarea>
       <span ng-show="TicketForm.Description.$touched || TicketForm.$submitted">
        <small class="help-block" ng-show="TicketForm.Description.$error.required" style="color:red">Please enter Description.
        </small>
        </span>
            </div>
          </div>



          <div class="form-group">
             <label class="col-sm-2 control-label">Type</label>
             <div class="col-sm-4">
              <select class="form-control" ng-model="Ticket.Type"
                      ng-options="ticketType.Value as ticketType.Name for ticketType in Type" required>
                <option  value="">--Select--</option>
              </select>
            </div>
          </div>

           <div class="form-group">
            <label class="col-sm-2 control-label"> Status </label>

            <div class="col-sm-4">
              <select class="form-control" ng-model="Ticket.Status"
                      ng-options="ticketStatus.Value as ticketStatus.Name for ticketStatus in Status" required>
                <option  value="">--Select--</option>
              </select>
            </div>
          </div>


           <div class="form-group">
            <label class="col-sm-2 control-label"> AssignedTo </label>

            <div class="col-sm-4">
              <select class="form-control" ng-model="Ticket.AssignedTo"
                      ng-options="ticketAssignedTo.Value as ticketAssignedTo.Name for ticketAssignedTo in AssignedTo" required>
                <option  value="">--Select--</option>
              </select>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-2 control-label"> Priority </label>

            <div class="col-sm-4">
             <select class="form-control" ng-model="Ticket.Priority"
                      ng-options="ticketPriority.Value as ticketPriority.Name for ticketPriority in Priority" required>
                <option  value="">--Select--</option>
              </select>
          </div>

       </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>

      </div>
      </form>
      </div>
    </div>
  </div>
</section>
