<section class="content-header">
  <div class="row">
    <!-- left column -->
    <div class=" col-md-12">
      <h1>
        Hash Tag Description
        <small></small>
        <a ui-sref="HashTagDescription.AddUpdate({Id:1})" class=" btn btn-primary" style="float:right;cursor: pointer;margin-right: 5px;">Update Description</a>
      </h1>
    </div>
  </div>
</section>



<section class="content">
  <div class="row">
    <!-- left column -->
    <div class=" col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div style="margin-left: 2%;   margin-right: 2%;" ng-bind-html="HashTagDescription.Description"></div>

      </div>
    </div>
  </div>
</section>
