.recent-posts .carousel_nav{
	margin-right: 3px;
	margin-bottom: 3px;
}

.recent-posts .carousel_nav i{
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	font-size: 10px;
	border-radius: 3px;
}

.recent-posts .carousel_nav i:hover{
  background-color: #0081c2;
}

.recent-posts .carousel_nav i:active{
  background-color: #0040D0;
}

.recent-posts .carousel_nav a, .recent-posts .carousel_nav a:visited, .recent-posts .carousel_nav a:hover{
	text-decoration: none;
	color: #fff;
}

.recent-posts ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.recent-posts ul li{
	max-width: 295px;
	max-height: 200px;
	margin: 5px 4px 0px 4px;
	display: block;
	float: left;
}


.recent-posts .rp-details{
	color: #fff;
  text-align: center;
	padding-left: 7px;
  padding-right: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recent-posts .rp-details h5{
	margin-bottom: 3px;
}

.recent-posts .rp-details a, .recent-posts .rp-details a:visited, .recent-posts .rp-details a:hover {
	color: #fff;
	text-decoration: none;
}

.recent-posts .price{
	display: inline-block;
	box-shadow: inset 0px 0px 2px #444;
	padding: 3px 5px !important;
	line-height: 18px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
}

/* Product slider (Flexslider) */

.product-slider .flexslider{
	margin-bottom: 10px;
}

.product-slider .flexslider img{
	max-height: 270px;
	width: auto;
	margin: 0 auto;
}

/* Flex slider for image */

.flexslider ul{
	padding: 0px;
	margin: 0px;
}

.flexslider ul li{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.flex-main .flexslider{
	margin: 20px 0px;
	margin-bottom: 10px;
	padding: 1px;
	border: 1px solid #ddd;
	box-shadow:0px 0px 2px #888;
	border-radius: 0px;
font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
}

.flex-main .flexslider .slides > li {
	position:relative;
}

.flex-main .flex-caption{
	width: 60%;
	margin: 0 0 80px 50px;
	position: absolute;
	display: block;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
}

.flex-main .flex-caption h3 {
	color: #fff;
	font-size: 26px;
	margin:0;
	font-weight: normal;
	line-height: 45px;
}

.flex-main .flex-caption h3 span{
   padding-bottom:3px;
}

.flex-main .flex-caption p {
	margin:0;
	font-size: 13px;
	line-height: 22px;
	color: #fff;
	margin-bottom: 5px;
}

.flex-main .flexslider:hover .flex-next {right: 15px;}
.flex-main .flexslider:hover .flex-prev {left: 15px;}

.rps-carousel li:hover{
  background-color: #0081c2;
}

.selected {
   background-color: #3c8dbc;
   
}