<section class="content-header">
  <div class="row">
    <!-- left column -->
    <div class=" col-md-8 col-md-offset-2">
      <h1>Update Scheduler
        <small></small>
      </h1>
    </div>
  </div>
</section>

<section class="content" ng-init="getSchedulerById()">
  <div class="row">
    <!-- left column -->
    <div class=" col-md-8 col-md-offset-2">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" name="SchedulerForm" ng-submit="SchedulerForm.$valid && updateScheduler()">
<div class="box-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>

            <div class="col-sm-6">
              <input type="text" class="form-control" ng-model="Scheduler.Name" name="State" placeholder="Name" required>
       <span ng-show="SchedulerForm.Name.$touched || TestForm.$submitted">
        <small class="help-block" ng-show="TestForm.TestName.$error.required" style="color:red">Please enter name.
        </small>
        </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Description</label>

            <div class="col-sm-6">
              <textarea type="text" class="form-control" ng-model="Scheduler.Description" name="Description"
                        placeholder="Description" required></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Url</label>

            <div class="col-sm-6">
              <select class="form-control" ng-model="Scheduler.UrlId"
                      ng-options="websiteurl.Id as websiteurl.Url for websiteurl in Website.WebsiteUrlList" name="Url"
                      required>
                <option style="display:none" value="">--Select--</option>
              </select>
       <span ng-show="SchedulerForm.Url.$touched || SchedulerForm.$submitted">
        <small class="help-block" ng-show="SchedulerForm.Url.$error.required" style="color:red">Please select Url.
        </small>
        </span>
            </div>
          </div>

  <div class="form-group" ng-if="Scheduler.UrlId == 0">
    <label class="col-sm-2 control-label">Url to test</label>

    <div class="col-sm-6">
      <input type="text" class="form-control" ng-model="Scheduler.Settings.CustomUrlToTest" name="CustomUrlToTest" placeholder="Selenium url address" required>
                <span ng-show="SchedulerForm.CustomUrlToTest.$touched || SchedulerForm.$submitted">
                <small class="help-block" ng-show="SchedulerForm.CustomUrlToTest.$error.required" style="color:red">Please enter URL to test.</small>
              </span>
    </div>
  </div>

  <div class="form-group">
            <label class="col-sm-2 control-label">Frequency</label>

            <div class="col-sm-6">
              <select class="form-control" ng-model="Scheduler.Frequency"
                      ng-options="Frequency as Frequency for Frequency in FrequencyList" name="Frequency" required>
                <option style="display:none" value="">--Select--</option>
              </select>
       <span ng-show="SchedulerForm.Frequency.$touched || SchedulerForm.$submitted">
        <small class="help-block" ng-show="SchedulerForm.Frequency.$error.required" style="color:red">Please select
          Frequency.
        </small>
        </span>
            </div>
          </div>

          <div class="form-group">
            <label for="dtp_input1" class="col-md-2 control-label">Start DateTime </label>

            <div class="input-group date form_datetime col-sm-6"
                 data-date="{{Scheduler.StartDateTime | date:'MM-dd-yyyy hh:mm:ss'}}" data-link-field="dtp_input1">
              <input class="form-control" size="16" type="text" ng-model="Scheduler.StartDateTime" readonly
                     name="StartDateTime" required="">
              <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
              <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
          <span ng-show="SchedulerForm.StartDateTime.$touched || SchedulerForm.$submitted">
          <small class="help-block" ng-show="SchedulerForm.StartDateTime.$error.required" style="color:red">Please enter
            Start Date Time.
          </small>
            </span>
            </div>
            <input type="hidden" id="dtp_input1" value=""/><br/>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Disabled</label>

            <div class="col-sm-6">
              <input type="checkbox" ng-model="Scheduler.IsDisabled"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Recur Every (Days)</label>

            <div class="col-sm-6">
              <input type="number" class="form-control" ng-model="Scheduler.RecurEvery" name="RecurEvery" required/>
       <span ng-show="SchedulerForm.RecurEvery.$touched || SchedulerForm.$submitted">
        <small class="help-block" ng-show="SchedulerForm.RecurEvery.$error.required" style="color:red">Please enter
          Recur Every.
        </small>
        </span>
          <span ng-show="SchedulerForm.RecurEvery.$touched || SchedulerForm.$submitted">
        <small class="help-block" ng-show="SchedulerForm.RecurEvery.$error.number" style="color:red">Only integer value
          is allowed.
        </small>
        </span>
            </div>
          </div>

          <div class="form-group" ng-hide="1==1">
            <label class="col-sm-2 control-label">Stop If Takes Longer Than (Minutes)</label>

            <div class="col-sm-6">
              <input type="number" class="form-control" ng-model="Scheduler.StopIfLongerThan" name="RecurEvery" required/>
       <span ng-show="SchedulerForm.StopIfLongerThan.$touched || SchedulerForm.$submitted">
        <small class="help-block" ng-show="SchedulerForm.StopIfLongerThan.$error.required" style="color:red">Stop If
          Takes Longer Than.
        </small>
        </span>
          <span ng-show="SchedulerForm.StopIfLongerThan.$touched || SchedulerForm.$submitted">
        <small class="help-block" ng-show="SchedulerForm.StopIfLongerThan.$error.number" style="color:red">Only integer
          value is allowed.
        </small>
        </span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Repeat Frequency (Minutes)</label>

            <div class="col-sm-6">
              <input type="number" class="form-control" ng-model="Scheduler.RepeatTaskFrequency" name="RepeatTaskFrequency"
                     required/>
       <span ng-show="SchedulerForm.RepeatTaskFrequency.$touched || SchedulerForm.$submitted">
        <small class="help-block" ng-show="SchedulerForm.RepeatTaskFrequency.$error.required" style="color:red">Please
          enter Repeat Frequency.
        </small>
        </span>
          <span ng-show="SchedulerForm.RepeatTaskFrequency.$touched || SchedulerForm.$submitted">
        <small class="help-block" ng-show="SchedulerForm.RepeatTaskFrequency.$error.number" style="color:red">Only
          integer value is allowed.
        </small>
        </span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Repeat Duration (Minutes)</label>

            <div class="col-sm-6">
              <input type="number" class="form-control" ng-model="Scheduler.RepeatTaskDuration" name="RepeatTaskDuration"
                     required/>
       <span ng-show="SchedulerForm.RepeatTaskDuration.$touched || SchedulerForm.$submitted">
        <small class="help-block" ng-show="SchedulerForm.RepeatTaskDuration.$error.required" style="color:red">Please
          enter Repeat Duration.
        </small>
        </span>
          <span ng-show="SchedulerForm.RepeatTaskDuration.$touched || SchedulerForm.$submitted">
        <small class="help-block" ng-show="SchedulerForm.RepeatTaskDuration.$error.number" style="color:red">Only
          integer value is allowed.
        </small>
        </span>
            </div>
          </div>

          <div class="form-group">
            <label for="dtp_input2" class="col-md-2 control-label">Expires DateTime </label>

            <div class="input-group date form_datetime col-sm-6" data-date="{{Scheduler.ExpirationDateTime}}"
                 data-link-field="dtp_input2">
              <input class="form-control" size="16" type="text" value="" ng-model="Scheduler.ExpirationDateTime" readonly
                     name="ExpiresDateTime">
              <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
              <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            <input type="hidden" id="dtp_input2" value=""/><br/>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" >Selenium address</label>
            <div class="col-sm-6">
              <input type="url" class="form-control" ng-model="Scheduler.Settings.SeleniumAddress" name="SeleniumAddress"  placeholder="Selenium url address" required>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Email report?</label>

            <div class="col-sm-6">
              <input type="checkbox" ng-model="Scheduler.Settings.DoEmailReport" name="IsAngular" placeholder="IsAngular">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Email to</label>

            <div class="col-sm-6">
              <textarea type="text" class="form-control" ng-model="Scheduler.Settings.ToEmailIds" name="EmailIds"
                        placeholder="Email ids"></textarea>
              <label class="small">*Wrong email address(s) will get discarded!</label>
            </div>
            <label class="col-sm-2 control-label">comma(,) separated</label>
          </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Suites</label>

    <div class="col-md-8">
      <label class="col-md-12 paddingLeftZero">
        <input ng-click="markUnMarkAll(this)" type="checkbox" ng-model="SelectAll"/>
        All
      </label>

      <label ng-repeat="suite in SuiteList | orderBy:'Id'" class="col-md-4 ellipsis paddingLeftZero"
             title="{{suite.Name}}">
        <input type="checkbox" ng-model="suite.Checked" ng-change="textChecked(suite)"/>
        {{suite.Name}}
      </label>
    </div>
  </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Browsers</label>

            <div class="col-md-8">
              <label class="col-md-12 paddingLeftZero">
                <input ng-click="markUnMarkAllBrowser()" type="checkbox" ng-model="SelectAllBrowsers"/>All
              </label>

              <label ng-repeat="browser in BrowserList | orderBy:'Id'" class="col-md-4 ellipsis paddingLeftZero"
                     title="{{browser.DisplayName}}">
                <input type="checkbox" ng-model="browser.Checked" ng-click="markUnMarkAllBrowser(browser)"/>
                {{browser.DisplayName}}
              </label>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Take Screen Shot On Url Changed</label>

            <div class="col-sm-3">
              <select class="form-control" ng-model="Scheduler.Settings.TakeScreenShotOnUrlChanged"
                      ng-options="browser.Id as browser.DisplayName for browser in BrowserList">
                <option value="">--Select--</option>
              </select></div>
          <span ng-if="TestUnderSuite.length>0">
        <label class="col-sm-2 control-label">For test</label>
       <div class="col-sm-2">
         <select class="form-control  color.name group by color.shade for color in colors"
                 ng-model="Scheduler.Settings.TakeScreenShotOnUrlChangedForTest"
                 ng-options="test as test.TestName group by test.SuiteName for test in TestUnderSuite">
           <option value="">--Select--</option>
         </select>
       </div>

   </span>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
</div>

        </form>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript">

  $('.form_datetime').datetimepicker({
    format: 'mm-dd-yyyy HH:ii p',
    startDate: new Date(),
    weekStart: 1,
    todayBtn: 1,
    autoclose: 1,
    forceParse: 1,
    todayHighlight: 1,
    startView: 2,
    showMeridian: 1
  });

</script>

