<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" description="Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="ProtractorEntity" connectionString="server=localhost;port=5432;user id=postgres;password=Patanahi@123;database=Hank12Dec" providerName="Npgsql" />
  </connectionStrings>
  <appSettings>
    <add key="ReportLocation" value="E:\Protractor-Open-Source-Repo\ProtractorAutomation\test\reports" />
    <add key="ImageViewUrl" value="http://localhost:26264/Home/GetScreenShot?loc=" />

    <add key="TokenExpirationTimeHours" value="14" />
    
    <add key="PermissionCacheExpMnt" value="30" />

    <add key="SetVariableActionId" value="14" />
    <add key="DeclareVariableActionId" value="15" />
    <add key="SetVariableManuallyActionId" value="16" />
    <add key="TakeScreenShotActionId" value="17" />
    <add key="LoadNewUrlActionId" value="18" />
    <add key="SwitchWebsiteTypeActionId" value="19" />
    <add key="SwitchWindowActionId" value="28" />
    <add key="IgnoreLoadNeUrlActionId" value="29" />
    <add key="HandleBrowserAlertPopupActionId" value="22" />
    <add key="WaitActionId" value="24" />
    <add key="LoadPartialUrlActionId" value="25" />
    <add key="LogTextActionId" value="9" />
    <add key="DbLogEntryFlag" value="true" />
    <add key="ExecuteSqlRowsToTake" value="10" />
    
    <add key="AssertToEqualActionId" value="4" />
    <add key="AssertToEqualIgnoreCaseActionId" value="47" />
    
    <add key="AssertToContainActionId" value="41" />
    <add key="AssertToContainIgnoreCaseActionId" value="49" />
    
    <add key="AssertUrlToContainActionId" value="21" />

    <add key="SendKeyActionId" value="34" />
    <add key="ContentSizeThresholdInBytes" value="1024" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="TerminateTestActionId" value="38" />
    <add key ="SwitchToFrameActionId" value="39"/>
    <add key ="SwitchToDefaultContentActionId" value="42"/>
    <add key="LoadReportDataActionId" value="43"/>
    <add key="MarkLoadDataFromReportActionId" value="44"/>
    <add key="SetCalendarDateActionId" value="45"/>
    <add key="ReadAttributeActionId" value="46"/>
    <add key="OpenBrowserActionId" value="50"/>
    <add key="CloseBrowserActionId" value="51"/>
    <!--<add key="owin:AutomaticAppStartup" value="false" />-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="4.2.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <!--<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />-->
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework" />
    </providers>
  </entityFramework>
</configuration>